#defaultBoard {
  padding: 1vw;
  margin-left: 0.1vw;
  margin-right: 0.1vw;
}

.tile-button {
  display: inline-block;
  padding: 1em 2em;

  font-size: 1.5em;

  background-color: #0052cc;

  color: white;

  border: none;

  border-radius: 0.3em;

  box-shadow: 0 0.3em 1em rgba(0, 0, 0, 0.2);

  text-align: center;

  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.tile-button:hover {
  background-color: #0041a3;
  transform: translateY(-0.1em);
}